[submodule "nvim/autoplugins/vim-tmux-navigator"]
	path = nvim/autoplugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "nvim/autoplugins/vim-polyglot"]
	path = nvim/autoplugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvim/autoplugins/coc.nvim"]
	path = nvim/autoplugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "nvim/autoplugins/deep-challenger-theme"]
	path = nvim/autoplugins/deep-challenger-theme
	url = https://github.com/challenger-deep-theme/vim
[submodule "nvim/autoplugins/ctrlp.vim"]
	path = nvim/autoplugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/autoplugins/vim-jsonnet"]
	path = nvim/autoplugins/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
[submodule "nvim/autoplugins/gleam.vim"]
	path = nvim/autoplugins/gleam.vim
	url = https://github.com/gleam-lang/gleam.vim
