[submodule "nvim/autoplugins/vim-tmux-navigator"]
	path = nvim/autoplugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "nvim/autoplugins/coc.nvim"]
	path = nvim/autoplugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "nvim/autoplugins/ctrlp.vim"]
	path = nvim/autoplugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/autoplugins/vim-jsonnet"]
	path = nvim/autoplugins/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
[submodule "nvim/autoplugins/gleam.vim"]
	path = nvim/autoplugins/gleam.vim
	url = https://github.com/gleam-lang/gleam.vim
[submodule "nvim/autoplugins/nvim-treesitter"]
	path = nvim/autoplugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/autoplugins/material.nvim"]
	path = nvim/autoplugins/material.nvim
	url = https://github.com/marko-cerovac/material.nvim.git
[submodule "nvim/autoplugins/nvim-code-action-menu"]
	path = nvim/autoplugins/nvim-code-action-menu
	url = https://github.com/weilbith/nvim-code-action-menu.git
[submodule "nvim/autoplugins/coc-code-action-menu.nvim"]
	path = nvim/autoplugins/coc-code-action-menu.nvim
	url = https://github.com/xiyaowong/coc-code-action-menu.nvim
[submodule "nvim/autoplugins/catppuccin"]
	path = nvim/autoplugins/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "nvim/autoplugins/tender.vim"]
	path = nvim/autoplugins/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "nvim/autoplugins/onenord.nvim"]
	path = nvim/autoplugins/onenord.nvim
	url = https://github.com/rmehri01/onenord.nvim
[submodule "nvim/autoplugins/gruvbox-material"]
	path = nvim/autoplugins/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
