#
# NOTE: THIS FILE EXISTS ON GITHUB
#
# DO NOT PUT PASSWORDS IN THIS FILE
#

host pi
  HostName home.local
  User pi

host rosefire
  HostName rosefire.csse.rose-hulman.edu
  User csse

host plc
  HostName plc.csse.rose-hulman.edu

host plc-dev
  HostName plc-dev.csse.rose-hulman.edu

